<section class="h-screen w-screen fixed z-50 backdrop-blur-3xl" *ngIf="isLoading | async">
  <h1 class="text-4xl sm:text-6xl md:text-7xl lg:text-8xl">Loading Food & Ingredients</h1>
  <div id="cooking">
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div id=area>
          <div id="sides">
              <div id="pan"></div>
              <div id="handle"></div>
          </div>
          <div id="pancake">
              <div id="pastry"></div>
          </div>
      </div>
  </div>
</section>





