<div class="flex items-center justify-center h-full sm:h-screen ">
  <div *ngIf="food " class="container mx-auto shadow-lg font-Roboto ">
    <div class="flex flex-col w-full bg-center bg-no-repeat bg-cover md:gap-0 md:flex-row"
      style="background-image: url({{food.recipe.image}});">

      <div class="md:w-3/6 h-96 md:h-[750px] w-full backdrop-blur-lg bg-black/40 ">
        <div class="flex items-center justify-center h-full space-y-2">
          <img class="object-cover  h-96 w-96 sm:w-[32rem] sm:h-[32rem] sm:rounded-full" loading="lazy"
            src="{{ food.recipe.image }}" alt="" />
        </div>
      </div>

      <div class="w-full backdrop-blur-lg bg-black/40 md:w-3/6">
        <div class=" text-white   h-[750px] overflow-y-hidden p-5  flex flex-col text-base md:text-lg">
          <h1 class="text-lg font-semibold md:text-2xl">{{ food.recipe.label }}</h1>
          <span class="mb-2 text-lg font-semibold border-b-2 border-white mt-7 w-fit">Ingredients</span>
          <div class="max-h-[450px] overflow-y-auto">
            <li class="" *ngFor="let Ingredients of food.recipe.ingredientLines">{{ Ingredients }}</li>
          </div>
          <div class="w-full">
            <p class="mb-4 font-semibold border-b-2 mt-7 w-fit">
              Deatils
            </p>
            <div class="flex items-center justify-start gap-2">
              <span class="my-4 text-base font-semibold w-fit">Cuisine type →</span>
              <p *ngFor="let itemC of food.recipe.cuisineType"> {{itemC}}</p>
            </div>
            <div class="flex items-center justify-start gap-2">
              <span class="my-4 text-base font-semibold w-fit">Meal type →</span>
              <p>{{food.recipe.mealType[0]}}</p>
            </div>

            <button class="mt-6">
              <a href="{{ food.recipe.url }}">How to Cook ? <span class="font-semibold text-blue-400">Click
                  Here!</span></a>
            </button>
          </div>

          <div class="flex justify-center">
            <button class="text-white bg-blue-700 mt-12 rounded-xl w-[80%] p-3" routerLink="/">
              Back to Home
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>





  <!-- <section class="w-screen h-screen p-4 bg-red-100">
    <div class="w-full h-20 flex">
      <div class="h-full w-3/12 md:w-1/2 bg-orange-500/50 rounded-[28px] rounded-br-none">
        <div class="h-full w-full bg-red-100 rounded-3xl flex items-center">
          <div class="flex font-extrabold text-xl md:text-3xl pl-4"> <p class="text-orange-400">Recipe</p><p class="text-orange-500">EZ</p> </div>
        </div>
      </div>
      <div class="h-full w-3/4 md:w-1/2 bg-red-100 rounded-[28px]">
        <div class="h-full w-full bg-orange-500/50 rounded-3xl rounded-b-none flex items-center justify-center px-4 py-4 ">
          <div class="relative text-gray-600 focus-within:text-gray-400 h-full w-full">
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
              </button>
            </span>
            <input type="search" name="q" class="py-2 text-sm text-white h-full w-full bg-orange-200 pr-4 rounded-3xl pl-11 focus:outline-none focus:bg-white focus:text-gray-900" placeholder="Search a recipe..." autocomplete="off"
              [(ngModel)]="input"
             (keydown.enter)="did()">
          </div>
        </div>
      </div>
    </div>

    <div class="w-full h-[90%] rounded-3xl rounded-tr-none bg-orange-500/50 flex flex-col md:flex-row items-center justify-center">

    </div>
  </section>
   -->
